.quote-container {
  width: 100%;
  margin-top: 200px;
  color: rgb(255, 255, 255);
  font-size: 30px;
  border-radius: 20px;
  overflow: hidden;
  padding-left: 10px;
  padding-right: 10px;
}

.hide-height {
  max-height: 0;
  opacity: 0;
  transition: max-height 5, opacity 2s;
}

.show-height {
  max-height: 100%;
  opacity: 1;
  transition: max-height 5s, opacity 2s;
}

.show-width {
  max-width: 100%;
  opacity: 1;
  transition: max-width 1s, opacity 0.5s;
}

.hide-width {
  max-width: 0;
  opacity: 0;
  transition: max-width 1s, opacity 0.5s;
}
