.page-title {
  font-size: 30px;
  font-weight: bold;
  font-family: sans-serif;
  color: aliceblue;
  transition: color 2s;
}

.style-a {
  color: #535252;
  transition: color 1s;
  cursor: pointer;
}

.style-b {
  color: white;
  transition: color 1s;
  cursor: pointer;
}

.other-links-wrapper {
  display: flex;
  justify-content: space-between;
  width: 40%;
  font-size: 20px;
}

.extra-title {
  @media (max-width: 610px) {
    display: none;
  }
}
