@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background-image: url("../public/tree-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 80% 50%;
  background-clip: content-box;
  font-family: Arial, Helvetica, sans-serif;
}
